body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: black;
}  
.parent{
  padding:20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
  padding:10px;
  border: 1px solid white;

}
.card{
  color: white;
  width: 300px;
  border: 1px solid white;
  text-align: center;
  border-radius: 10px;
  background-color:#333;
}