body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}   
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}
.nav{
  background-color: blueviolet;
  padding: 15px;
  border-radius: 10px ;
  padding: 15px;
  margin:20px

}